<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>
<body>
<h1 style="color: silver; font-size: 36px;">IOT Home Automation APP</h1>
<p style="color: silver; font-size: 36px;align:center;">Active Devices List</p>
<a href="dc" >Device Controler</a>
<a href="upda">Update Devices</a>
<a href="dd" >Delete Devices</a>
<a href="dl" >Device List</a>
<a href="atd">Active Devices List</a>
<a href="iatd">InActive Devices List</a>
<a href="log">LogOut</a>
</br></br>

<table >
    <th>Device Name</th><th>Device Status</th><th colspan="2">Active Devices</th>
    {% for i in list_data1 %}
        {% for i in list_data1 %}
        <form action="atd" method="post">
                {% csrf_token %}
                       <tr><td>{{ i.device_name }}</td><td>{{ i.device_desc }}</td><td>{{ i.device_status }}</td></tr>
        </form>
    {% endfor %}
    {% endfor %}
</table>


</body>
</html>