<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOT Home Automation App</title>
    <link rel="stylesheet" type="text/css" href="HomeAutomation/CSS/css.css"/>
    <pre align="center" ><h1 style="color: silver; font-size: 36px;">IOT Home Automation APP</h1></pre>
    <pre align="left"><h2 style="color: silver; font-size: 26px;">>>>Welcome to Admin Portal</h2><a href="LoginPage.html">Home</a></pre>
</head>
<body align="center" bgcolor="#008b8b" >
<form action="DeviceControler.html" method="post"  >
    <input type="submit" value="Device Controler" style="height: 35px;width: 150px;font-face: 'Goudy Old Style';background-color: darkseagreen"/>
</form></br>
<form action="DevicesList.html" method="post">
    <input type="submit" value="Devices List" style="height: 35px;width: 150px;font-face: 'Goudy Old Style';background-color: darkseagreen"/>
</form></br>
<form action="AddDevices.html" method="post">
    <input type="submit" value="AddDevices" style="height: 35px;width: 150px;font-face: 'Goudy Old Style';background-color: darkseagreen"/>
</form></br>
<form action="ActiveDevicesStatus.html" method="post">
    <input type="submit" value="ActiveDevicesStatus" style="height: 35px;width: 150px;font-face: 'Goudy Old Style';background-color: darkseagreen"/>
</form></br>
<form action="InactiveDevicesStatus.html" method="post">
    <input type="submit" value="InactiveDevicesStatus" style="height: 35px;width: 150px;font-face: 'Goudy Old Style';background-color: darkseagreen"/>
</form>
</body>
</html>